body{font-family:Arial}										
#logo{width: 100%; height: 70px; padding-top: 10px; background: url() #DDDDDD no-repeat; background-size:auto 60px; background-position: 10px}
h1 {color: #009de2; font-size: 1.5em;}
h2 {color: #e10613; font-size: 1.5em;}
ul,li{width:100%;font-weight:bold; padding: 0; margin-top: 0px}
table{width:100%; text-align:left; border-spacing:0; margin: 0px;}
table.header{background-color: #009de2; color: #fff;}
li{font-weight:bold; list-style:none;}
ul table li{font-weight: normal; padding: 0; margin: 0px}
th,td{padding: 10px; border: 1px solid #000; margin: 0px}
th {text-align : center;}
.desc-col {width: 350px; min-width: 350px; word-wrap: break-word;}
.status-col{width:60px;  min-width: 60px; text-align: center; word-wrap: break-word;}
.browser-col{width:160px; min-width: 160px; word-wrap: break-word;}
.os-col{width: 50px;  min-width: 50px; max-width: 50px; word-wrap: break-word; text-align: center;}
.msg-col{width: 135px; min-width: 135px; max-width: 135px; word-wrap: break-word;}
.img-col{width:90px;  min-width: 90px; word-wrap: break-word;}
 #desc_suite {background-color: #c1cdc9; margin:20px 0; padding: 0 10px;}

.traceinfo{position: fixed;top: 0; bottom: 0;left: 0;right:0;background: rgba(0,0,0,0.8);z-index: 99999;opacity:0;-webkit-transition: opacity 400ms ease-in;transition: opacity 400ms ease-in;pointer-events: none;}
.traceinfo.visible{opacity:1;pointer-events: auto;}
.traceinfo > div{width: 400px;position: relative;margin: 10% auto;padding: 5px 20px 13px 20px;background: #fff;}
.traceinfo .close{background: #606061;color: #FFFFFF;line-height: 25px;position: absolute;right: -12px;text-align: center;top: -10px;width: 24px;text-decoration: none;font-weight: bold;}
.traceinfo .close:hover{background: #00d9ff;}

